.footer-content {
  overflow-y: auto;
  width: 100%;
  background-color: lightblue;
  float: left;
  text-align: left;
  margin-top: 60px;
}

.social-icons {
  margin-bottom: 20;
  text-decoration: "none";
  display: "inline";
}
