.navbar {
  background-color: #fbfefd;
  font-weight: 800;
  box-shadow: -20px -3px 15px 3px #c2c2c2;
  font-family: "Rubik", sans-serif;
  padding: 0px 0px;
}
a {
  text-decoration: none;
  display: inline;
}
.navbar-ul {
  margin-left: 10px;
  display: inline-block;
  background-color: darksalmon;
}
.navbar-li {
  display: inline;
  font-size: 20px;
  text-decoration: none !important;
  margin-left: 70px;
}

.navbarLink {
  margin-left: 40px;
  cursor: pointer;
}

.navbarLink a {
  color: #707070;
  text-decoration: none;
  letter-spacing: 1px;
}

.navbar-collapse {
  flex-grow: 0;
}

#navLogo {
  margin-left: 0;
  padding: 0;
}

.active,
.dot:hover {
  background-color: transparent;
}

.User-profile-content {
  border: none;
  display: none;
  position: absolute;
  background-color: #f7fcfd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 10;
}

.User-profile:hover .User-profile-content {
  display: block;
}
