body {
  background-color: #fbfefd;
}

.reactions {
  width: "120px";
  background-color: "transparent";
  border: "1px solid black";
}
.readMorebutton {
  position: absolute;
  bottom: 60px;
  left: 120px;
  transition: 0.6s linear;
}
.postCard {
  transition: all 0.4s ease-in-out;
}
.readMorebutton:hover {
  background: rgb(15, 17, 16);
}

.postCard:hover {
  transform: scale(1.023);
  color: rgb(33, 151, 187);
}
