.signinwithgoogle {
  width: 45%;
  cursor: pointer;
}
.layout-set-signup p {
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
  color: cornflowerblue;
}
.layout-set-signup p a {
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
  color: cornflowerblue;
}
.input-text {
  margin-top: 10px;
  font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: 16px;
  letter-spacing: 1.5px;
}

.layout-set-signup {
  margin-top: 4pc;
  width: 30%;
  height: 39pc;
  border-radius: 50px;
  box-shadow: rgb(206 206 209) 5px 9px 26px -8px;
  margin-left: auto;
  margin-right: auto;
}

.input-login {
  width: 20pc;
  height: 3pc;
  margin: auto;
  border-radius: 40px;
  text-align: center;
  font-weight: 500;
  font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  padding: 24px;
  font-size: 16px;
  letter-spacing: 1px;
}
